html, body {
    height: 100%;
    min-width: 100%;
    background-color: rgb(217, 250, 255);
    /* background-color: white; */
}

.main-container {
    height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 0 auto;
}

.login-container {
    display: grid;
}

.welcome-text {
    text-align: center;
    font: normal normal normal 3vw/2vw "Josefin Sans";
    margin: 2vw;
}

#email, #password {
    width: 20vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 0.1vw solid purple;
    margin: 0.5vw;
    outline: none;

    font: normal normal normal 1.75vw/3.3vw "Josefin Sans";
}

.login, .register {
    width: 20vw;
    height: 3vw;
    border-radius: 3vw;
    border: 0.1vw solid purple;
    margin: 0.5vw;

    text-align: center;
    font: normal normal normal 1.75vw/3.3vw "Josefin Sans";
    background-color: white;
    color: black;

    cursor: pointer;
}
