html, body {
    background-color: rgb(217, 250, 255);
}

.main-container {
    position: absolute;
    top: 4vw;

    margin: 1vw;
}

.login-pop-up, .register-pop-up {
    width: 18vw;
    height: 20vw;
    background-color: lightsteelblue;

    position: absolute;
    left: 79vw;
    top: 0vw;

    justify-content: center;
}

.welcome-text {
    text-align: center;
    font: normal normal normal 1.5vw/2vw "Josefin Sans";
    position: relative;
    top: 1vw;
}

#login-email, #login-password {
    width: 12vw;
    height: 2.5vw;
    font: normal normal normal 1vw/0vw "Josefin Sans";
}

.login-pop-up-button, .register-pop-up-button {
    height: 2.85vw;
    background-color: lightgrey;
    border-radius: 1vw;

    font: normal normal normal 1.5vw/2vw "Josefin Sans";

    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;
}
